.notLogged {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0, 10, 0.3);
    z-index: 999;
    vertical-align: middle;
    text-align: center;
    padding-top: 10%;
}

.tab-content {
    margin-top: 20px;
}

tr.selected {
    background-color: lightpink;
    font-weight: bold;
}